.guide-items {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-gap: 1.5em;
  margin-bottom: calc( var(--ifm-spacing-vertical) * 2 );
}

.guide-items--l {
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}

.guide-items--staggered {
  grid-template-columns: repeat(4, 1fr);
}

.guide-items--staggered > a:first-child {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 2;
  min-height: 24em;
}

@media (max-width: 996px) {
  .guide-items {
    grid-template-columns: repeat(3, 1fr);
    font-size: 1em;
  }

  .guide-items--staggered > a:first-child {
    grid-column-end: span 1;
    grid-row-end: span 1;
    font-size: 1em;
  }

  .guide-items--staggered {
    font-size: 1em;
  }
}

@media (max-width: 867px) {
  .guide-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 609px) {
  .guide-items {
    grid-template-columns: repeat(1, 1fr);
  }
}
