// =============================================================================
//
// @file _mixins.scss
// Site used mixins.
//
// =============================================================================

// Text truncation
@mixin text-shorten {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// responsive
@mixin largeOnly {
  @media (max-width: $large-width) and (min-width: $medium-width+1) {
    @content;
  }
}

@mixin large {
  @media (max-width: $large-width) {
    @content;
  }
}

@mixin medium {
  @media (max-width: $medium-width) {
    @content;
  }
}

@mixin small {
  @media (max-width: $small-width) {
    @content;
  }
}
