// =============================================================================
//
// @file _variables.scss
// Site used variables.
//
// =============================================================================

// media breakpoints
$small-width: 610px;
$medium-width: 996px;
$large-width: 1320px;

// Base font size
$base-font-size: 16px;

// Color variables

$black: #000000;
$midnight : #1C212C;
$space: #343352;
$cloudy: #2B303B;
$white: #FFFFFF;
$gray: #B2B2B2;
$grayLight: #F0F0F0;
$grayLighter: #EBEBEB;
$grayLightest: #FAFAFA;
$grayMedium: #585862;
$grayDark : #65737E;
$grayDarker : #444;
$grayDarkest: #656565;
$grayDarkest2: #717171;
$grayDarkest3 : #BBBBBB;
$metal : #8fa1b3;
$metalLight : #c0c5ce;
$red: #F57455;
$redDark: #BE1212;
$shark: #31353F;
$olive: #a3be8c;
$lightPurple: #b48ead;

:root {
  --ifm-navbar-search-input-background-color: #ffffff00;
}

// Layout
$navbar-height: 75px;
$sidebar-right-width: 265px;

// media breakpoints
$small-width: 610px;
$medium-width: 996px;
$large-width: 1320px;

// Base font size
$base-font-size: 16px;

// Layout
$navbar-height: 75px;
