// =============================================================================
//
// @file _variables.scss
// Site used variables.
//
// =============================================================================


// Base font size
$base-font-size: 16px;

// Color variables
$space: #343352;
$white: #FFFFFF;
$gray: #B2B2B2;
$grayLighter: #EBEBEB;
$red: #F57455;
$midnight: #1C212C;
$shark: #31353F;
