// codeblock
[class*="codeBlockLines"] {
  border-radius: 5px;
  background-color: $grayLighter !important;

  .token-line {
    color: $space !important;
    line-height: 1.5;
  }

  &:focus {
    outline: none;
  }
}

// codeblock DM
[data-theme="dark"] [class*="codeBlockLines"] {
  background-color: $cloudy !important;
  .token-line {
    color: $grayDark !important;
  }
}
