html:not([data-theme="dark"]) {
  .prism-code .token{

    &.punctuation,
    &.variable,
    &.operator {
      color: $grayDarker !important;
    }

    &.atrule,
    &.package {
      font-weight: bold;
    }

    &.class-name,
    &.function {
      color: $redDark !important;
      font-weight: bold;
    }

    &.string,
    &.number,
    &.single-quoted-string {
      color: $redDark !important;
    }

    &.double-quoted-string {
      color: $redDark !important;
      font-weight: bold;
    }

    &.constant {
      color: $grayDark !important;
    }

    &.plain,
    &.comment {
      color: $grayDark !important
    }

    &.keyword {
      font-style: normal !important;
      font-weight: bold;
    }
  }
}

html[data-theme="dark"] {
  .prism-code .token{

    &.atrule,
    &.package,
    &.punctuation,
    &.variable,
    &.operator {
      color: $metalLight !important;
      font-weight: bold;
    }

    &.class-name,
    &.function {
      color: $metal !important;
      font-weight: bold;
    }

    &.string,
    &.number,
    &.single-quoted-string {
      color: $olive !important;
    }

    &.double-quoted-string {
      color: $olive !important;
      font-weight: bold;
    }

    &.constant {
      color: $metalLight !important;
      font-weight: bold;
    }

    &.comment {
      color: $grayDark !important
    }

    &.keyword {
      font-style: normal !important;
      font-weight: bold;
      color: $lightPurple;
    }
  }
}