// =============================================================================
//
// @file _header.scss
// Header styles
//
// =============================================================================

// Theme toggle
.react-toggle-track {
  height: 19.5px;
  width: 33px;
  background: $space;
}

.react-toggle-thumb {
  left: 4px;
  height: 11px;
  width: 11px;
  top: 50%;
  transform: translateY(-50%);
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  box-shadow: none;
}

// toggle checked
[data-theme='dark'] .react-toggle .react-toggle-track{
  background: $grayLighter;
}

[data-theme='dark'] .react-toggle .react-toggle-thumb, .react-toggle--checked .react-toggle-thumb {
  left: 18px;
  background: $space;
  border-color: $space;
}

// disable :active style
.react-toggle--active .react-toggle-thumb ,
.react-toggle--focus .react-toggle-thumb {
  box-shadow: none;
}

// hide icons
.react-toggle-track-x,
.react-toggle-track-check {
  span:before {
    display: none;
  }
}