// =============================================================================
//
// @file _snippets_menu.scss
// Snippets menus
//
// =============================================================================

// Background DM
[data-theme="dark"] {
  [class*="sidebar"],
  [class*="docMainContainer"] {
    background-color:$midnight;
  }
}

// Main nav
.navbar {
  box-shadow:none;
  border-bottom:1px solid $grayLighter;
  height: 75px;
  padding: 0;

  &__brand {
    width: $sidebar-right-width;
    margin-right: 0;
  }

  &__logo {
    max-width: 40vw;
    width: 162px;
  }

  &__title {
    display: none;
  }
}

// Main nav DM
[data-theme="dark"] {
  .navbar {
    border-color:$shark;
    background-color:$midnight;
  }
}

// Brand logo DM
[data-theme="dark"] {
  .navbar__brand {
    &:before {
      content: "";
      background-image: url("/img/logo-DM.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
      width: 100%;
      height: 100%;
      width: 162px;
      max-width: 40vw;
    }
    .navbar__logo {
      display: none;
    }
  }
}

// Main nav -- mobile
@include medium {
  .navbar__items {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .navbar__toggle {
    margin-right: 0;
  }
}

// Main nav __ link
a.navbar__link {
  font-weight: 500;
  font-size: convert(16, px, ems);
  position:relative;
  padding:0;
  margin: 0 2em 0 0;
  transition: .3s;

  &::before {
    content:'';
    background-color:$space;
    height:1px;
    position:absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: none;
  }

  &--active,
  &:hover {
    color:$space;

    &::before {
      display: block;
    }
  }
}

// Main nav __ link DM
[data-theme="dark"] {
  a.navbar__link {
    color: $grayLighter;

    &:hover {
      color: $grayLighter;
    }

    &::before {
      background-color:$grayLighter;
    }
  }
}

/* Mobile main menu */
@include medium {

  // mobile menu top area
  .navbar-sidebar__brand {
    padding: 0 30px;
    justify-content: space-between;
    height: $navbar-height;
  }

  // mobile menu top area DM
  [data-theme="dark"] .navbar-sidebar__brand {
    border-bottom: 1px solid $shark;
  }

  // mobile menu links
  .navbar .menu__link {
    padding-left: 30px;
  }

  // mobile menu links
  .navbar .menu {
    padding-top: 20px !important;
  }

  // mobile menu backdrop LM + DM
  .navbar-sidebar__backdrop {
    background-color: rgba($midnight, 0.6);
  }

  // mobile menu DM
  [data-theme="dark"] .navbar-sidebar {
    background-color: $midnight;
  }
}
