// sidebar left wrapper -- snippets
[class*="docSidebarContainer"] {
  margin-top: -($navbar-height);
  border-color: $grayLight;
}

// sidebar left -- snippets
[class*="docSidebarContainer"] > [class*="sidebar"] {
  padding-top: 0;
  margin-top: $navbar-height;
  height: calc(100vh - #{$navbar-height});
  overflow-x: hidden;
  top: 75px; // position sticky in default styles
  @include medium {
    height: 0;
  }
}

// sidebar left -- snippets DM
[data-theme="dark"] [class*="docSidebarContainer"] {
  border-color: $shark;
  > [class*="sidebar"] {
    border-right: 1px solid $shark;
  }
}


[class*="docSidebarContainer"] > [class*="sidebar"]:not(.menu--responsive) {
  @include large {
    position: fixed;
    top: 0;
  }
}

// sidebar left -- guide
main > [class*="sidebar"]:first-child {
  width: 265px;
  min-width: 265px;
  border-right: 1px solid $grayLighter;
  overflow-y: auto;
  height: calc(100vh - #{$navbar-height});
  padding-right: 50px;

  @include large {
    position: sticky;
    top: $navbar-height;
  }

  @include medium {
    width: 100%;
    height: unset;
    border-right: none;
    padding: 42.5px 0;
    border-bottom: 1px solid $grayLighter;
  }
}


// sidebar right -- guide
main > [class*="sidebar"]:last-child {
  border-left: 1px solid $grayLighter;
  padding-left: 50px;
  min-width: unset;

  @include large {
    padding-left: 30px;
  }

  @include medium {
    display: none;
  }
}

// sidebar right -- snippets
.row {
  .col.col--3 {
    border-left: 1px solid $grayLighter;
    padding-left: 50px;
    padding-right: 0;

    @include large {
      padding-left: 30px;
    }
  }
}

// sidebar DM
[data-theme="dark"] {
  main > [class*="sidebar"]:first-child,
  main > [class*="sidebar"]:last-child,
  .col.col--3 {
    border-color: $shark;
    background-color: $midnight;
  }
}

// sidebar left -- responsive -- large
[class*="docSidebarContainer"],
main > [class*="sidebar"]:first-child {
  @include large {
    padding-right: 30px;
  }
}