// =============================================================================
//
// @file _base.scss
// Base styles
//
// =============================================================================

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

html[data-theme='dark'] {
  background: $midnight
}

.navbar,
.main-wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  padding-top: 42.5px !important;
}


