// =============================================================================
//
// @file _base.scss
// Base styles
//
// =============================================================================

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow: hidden !important;
}

html[data-theme='dark'] {
  background: $midnight
}