// =============================================================================
//
// @file _typography.scss
// Site basic typography settings
//
// =============================================================================

// Import your fonts here
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  color: $space;
}

[data-theme="dark"] {
  color: $grayLighter
}

h1{
  font-weight: 600;
  font-size: convert(30, px , ems);
  line-height: 37px;
  margin-bottom: 14px;
}

h2 {
  font-weight: 600;
  font-size: convert(22, px, ems);
  line-height: 1.2;
  margin-top: 44px;
}


// content title
.markdown > h2 {
  margin-top: 50px;
  margin-bottom: 25px;
}


h3 {
  font-weight: 600;
  font-size: convert(20, px, ems);
  line-height: 1.2;
  margin-top: 44px;
}

a {
  color: rgba($midnight, 0.6);
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}