// =============================================================================
//
// @file _typography.scss
// Site basic typography settings
//
// =============================================================================

// Import your fonts here
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  color: $space;
}

[data-theme="dark"] {
  color: $grayLighter
}

// snippet heading
[class*="docTitle"] ,
h1{
  font-weight: 600;
  font-size: convert(30, px , ems);
  line-height: 37px;
  margin-bottom: 15px;
}

[class*="docTitle"] {
  line-height: 1;
}

h2 {
  font-weight: 600;
  font-size: convert(22, px, ems);
  line-height: 1.2;
  margin-top: 44px;
}


// content title
.markdown > h2 {
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: convert(25, px, ems);
}


h3 {
  font-weight: 600;
  font-size: convert(22, px, ems);
  line-height: 1.2;
  margin-top: 44px;
}

a {
  color: $gray;
  text-decoration: none;
  transition: .2s;
  &:hover {
    text-decoration: none;
    color: #37b5ff;
    color: $red;
  }
}

::selection {
  background-color: $red;
  color: $white;
}

[data-theme="dark"] ::selection {
  background-color: $grayLight;
  color: $midnight
}