// =============================================================================
//
// @file snippets_pagination.scss
// Snippets pagination area styles
//
// =============================================================================

// pagination nav
.pagination-nav {
  margin-top: 150px;
  @include medium {
    margin-bottom: 150px;
  }
}

// pagination link
.pagination-nav__link {
  padding: 0;
  border: none;
  position: relative;
}

// pagination link label
.pagination-nav__label {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: $space;
}

// pagination link label DM
[data-theme="dark"] {
  .pagination-nav__label {
    color: $white;
  }
}

// hide pagination link sublabel
.pagination-nav__sublabel {
  display: none;
}

