/* Snippets sidebar left menu */
.menu {
  min-width: $sidebar-right-width;
  width: $sidebar-right-width;
  padding: 50px 50px 50px 0;
  overflow-x: hidden;

  @include largeOnly {
    padding-right: 30px;
  }
}

ul.menu__list .menu__list{
  margin-left: 0;

  @include medium {
    margin-bottom: 100px;
  }
}

.menu__list-item {
  margin-top: 0;
  margin-bottom: 0;
}

.menu__link {
  padding: 0;
  margin-bottom: 18px;
  line-height: 20px;
}

.navbar-sidebar__items {
  padding: 0;
}

// Snippets sidebar left menu __ sublist
.menu__list-item {
  a.menu__link.menu__link--sublist {
    padding: 0;
    font-weight: 600;
    font-size: convert(16, px, ems);
    text-transform: uppercase;
    transition: .3s;
    line-height: 20px;
    margin-bottom: 18px;
    color: $grayDarkest2;

    &:hover {
      background-color:transparent;
    }

    // arrow
    &::after {
      background-image:url("/img/right-arrow.svg");
      background-size:1rem .8rem;
      background-repeat: no-repeat;
      transform: rotate(90deg);
      content:'';
    }
  }
}

// Snippets sidebar left menu __ sublist DM
[data-theme="dark"] {
  .menu__list-item {
    a.menu__link.menu__link--sublist {
      color: $grayLighter;

      &:hover {
        color:$white;
      }
    }
  }
  .menu__list-item--collapsed {
    a.menu__link.menu__link--sublist {
      color: $grayDarkest3;
    }
  }
}

// Snippets sidebar left menu __ sublist -- collapsed
.menu__list-item.menu__list-item--collapsed {
  a.menu__link.menu__link--sublist {
    color: $gray;

    // arrow
    &:after {
      transform: rotateZ(0deg);
    }
  }
}

// Snippets sidebar left menu __ sublist -- collapsed -- DM
[data-theme="dark"] {
  .menu__list-item--collapsed {
    a.menu__link.menu__link--sublist {
      color: $grayDarkest3;
    }
  }
}

// Snippets sidebar left menu -- mobile
.menu--responsive {
  @include medium {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: -100%;
    transition: left .2s;
    z-index: 7000;
    padding-top: calc(#{$navbar-height} + 30px) !important;
    padding-left: 30px;
    width: 80vw;
    border: none;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);

    // Header area
    &:before {
      content: "Categories list";
      position: absolute;
      width: 80vw;
      line-height: $navbar-height;
      top: 0;
      left: 0;
      transition: .2s;
      border-bottom: 1px solid $grayLight;
      padding-left: 30px;
      font-weight: 600;
    }

    // Floating button
    .menu__button {
      font-family: Montserrat;
      right: 30px;
      overflow: hidden;
      width: 170px;
      height: 35px;
      svg, span {
        display: none;
      }
      transition: .2s;
      background-color: $midnight;
      color: $grayLighter;
      border: none;
    }

    // Floating button --hover
    .menu__button:hover {
      border: none;
      background-color: rgba($midnight, .9);
    }

    // Floating button text
    .menu__button:before {
      content: "Show categories";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    // Backdrop
    .menu__button:after {
      content: "";
      position: fixed;
      width: 20vw;
      height: 100vh;
      bottom: 0;
      left: -100vw;
      background: rgba($midnight, .6);
      border-radius: 0;
      border: 0;
      opacity: 0;
      transition-delay: .2s;
      transition: opacity .3s
    }
  }
}

// Snippets sidebar left menu -- mobile -- open
.menu--responsive.menu--show {
  @include medium {
    left: 0;
    transition: .2s;
    .menu__button {
      right: -100vw;
    }

    .menu__button:after {
      left: 80vw;
      opacity: 1;
      transition-delay: .2s;
    }
  }
}

// Snippets sidebar left -- mobile -- DM
[data-theme="dark"] .menu--responsive {
  background-color: $midnight;
  &:before {
    border-color: $shark;
  }

  // Floating button
  .menu__button {
    background-color: $grayLight;
    color: $midnight;
  }

  // Floating button -- hover
  .menu__button:hover {
    background-color: $gray;
  }
}

// Snippets sidebar left __ default active item
.menu__link--active:not(.menu__link--sublist) {
  background: none;
  font-weight: 700;
}

// Snippets sidebar left __ child items
.menu__list-item {
  a.menu__link {
    color:$space;
    font-size:convert(14, px, ems);

    &--active {
      font-weight:bold;
      background-color:transparent;
    }

    &:hover {
      background: none;
      text-decoration: underline;
    }
  }
}

// Snippets sidebar left __ child items -- DM
[data-theme="dark"] {
  .menu__list-item {
    a.menu__link {
      color:rgba(255,255,255, 0.5);

      &--active,
      &:hover {
        color:rgba(255,255,255, 1);
      }
    }
  }

  .menu__link--active:not(.menu__link--sublist) {
    color: $white;
  }
}