// =============================================================================
//
// @file snippets_content.scss
// Snippets main content area styles
//
// =============================================================================


// main wrapper inner
[class*="docPage"] {
  padding: 0 30px;
}

// main content + sidebar wrapper
[class*="docItemWrapper"] {
  padding: 0 !important;

  @include largeOnly {
    max-width: unset;
  }
}

// main content
[class*="docSidebarContainer"] + [class*="docMainContainer"] {
  max-width: calc( 100% - #{$sidebar-right-width} );

  [class*="docItemCol"] {
    padding-left: 50px !important;
  }

  @include medium {
    max-width: unset;

    [class*="docItemCol"] {
      padding-left: 0px !important;
    }
  }
}

[class*="docItemCol"] {
  padding-top: 42.5px !important;
  padding-left: 0px !important;
  padding-right: 50px !important;
  max-width: calc( 100% - #{$sidebar-right-width} ) !important;

  @include medium {
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: unset !important;
  }
}

[class*="docItemContainer"] {
  padding: 0;
}

// snippet heading caption
header > p {
  font-weight: 500;
  font-size: convert(16, px, ems);
  line-height: 20px;
  margin-bottom: 50px;
}

// snippet heading caption DM
[data-theme="dark"] header > p {
  opacity: .5;
}