// =============================================================================
//
// @file snippets_content.scss
// Snippets main content area styles
//
// =============================================================================


// main wrapper inner
[class*="docPage"] {
  padding: 0 30px;
}

// main content + sidebar wrapper
[class*="docItemWrapper"] {
  padding: 0 !important;

  @include large {
    max-width: unset;
  }
}

// main content
[class*="docMainContainer"] {
  max-width: calc( 100% - 265px );

  @include medium {
    max-width: unset;
  }
}

[class*="docItemCol"] {
  padding-top: 42.5px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;

  @include medium {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

[class*="docItemContainer"] {
  padding: 0;
}

// snippet heading
[class*="docTitle"] {
  font-size: convert(30, px, ems);
  line-height: 37px;
  font-weight: 600;
  margin-bottom: 10px;
}

// snippet heading caption
.markdown > p:first-child {
  font-weight: 500;
  font-size: convert(16, px, ems);
  line-height: 20px;
  margin-bottom: 60px;
}

// snippet heading caption DM
[data-theme="dark"] .markdown > p:first-child {
  opacity: .5;
}